 /* Sidebar */

 /* Main content */
 body {
     background-color: #f9f9f9;
     font-family: "Noto Sans TC", sans-serif;
     padding-top: 0;
 }

 /* main h2{
    background-color: lightblue;} */

 .grid-container {
    /* background-color: cadetblue; */
    
     display: grid;
     grid-template-areas:
     /* 設定 網格的版面結構 */
       /* "task pos info sale eis report finance inventory "
         "task pos info sale eis report finance inventory " */
     
        "task info eis finance inventory "
         "pos sale report finance inventory " 
        /*  "finance finance finance finance" */;
     gap: 15px;
     padding: 20px;
 }

 .block {
     border: 2px dashed #ccc;
     border-radius: 10px;
     padding: 1rem;
     min-height: 120px;
     display: flex;
     font-weight: bold;
     font-size: 1.1rem;
     text-align: center;
 }

 .block-title {
     margin-bottom: 0.5rem;
     width: 100%;
 }

 .block.vertical {
     flex-direction: column;
     align-items: center;
 }

 .block.vertical .btn {
     width: 90%;
     margin: 0.25rem 0;
 }

 .block.horizontal {
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
 }

 .block.horizontal .btn {
     width: auto;
     margin: 0.25rem;
 }

 .info {
     background-color: #ffe5e5;
     grid-area: info;
 }

 .inventory {
     background-color: #fff4e5;
     grid-area: inventory;
 }

 .sale {
     background-color: #fffbe5;
     grid-area: sale;
 }

 .production {
     background-color: #e5f5e5;
     grid-area: production;
 }

 .secondhand {
     background-color: #e5f0ff;
     grid-area: eis;
 }

 .task {
     background-color: #ffe5f0;
     grid-area: task;
 }

.finance {
	background-color: #e5f5e5;
	grid-area: finance;
}

.report {
	background-color: #f0e5ff;
	grid-area: report;
}

.pos {
     background-color: #e5faff;
     grid-area: pos;
 }
