<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>退貨單列表</title>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<h2>退貨單列表</h2>

<form method="get" th:action="@{/returns/list}">
    <label>客戶名稱：</label>
    <input type="text" name="customerName" />
    
    <label>訂單編號：</label>
    <input type="number" name="orderId" />
    
    <label>日期區間：</label>
    <input type="date" name="startDate" />
    ~
    <input type="date" name="endDate" />
    
    <button type="submit">查詢</button>
</form>

 <a class="btn btn-primary mb-2" th:href="@{/returns/create}">新增退貨單</a>

<form method="get" th:action="@{/returns/export}">
    <input type="hidden" name="customerName" th:value="${param.customerName}" />
    <input type="hidden" name="orderId" th:value="${param.orderId}" />
    <input type="hidden" name="startDate" th:value="${param.startDate}" />
    <input type="hidden" name="endDate" th:value="${param.endDate}" />
    <button type="submit">匯出 Excel</button>
</form>

<hr/>
<table border="1" cellpadding="8">
    <thead>
        <tr>
            <th>退貨單編號</th>
            <th>退貨日期</th>
            <th>原始訂單</th>
            <th>客戶名稱</th>
            <th>總金額</th>
            <th>退貨原因</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="order : ${returnOrders}">
            <td th:text="${order.returnNo}"></td>
            <td th:text="${order.returnDate}"></td>
            <td th:text="${order.salesOrder.id}"></td>
            <td th:text="${order.salesOrder.customer.name}"></td>
            <td>
                <span th:text="${#numbers.formatDecimal(
                    order.details.?sum(d -> d.total), 1, 'POINT', 2, 'NONE')}"></span>
            </td>
            <td th:text="${order.reason}"></td>
            <td>
                <a th:href="@{'/returns/view/' + ${order.id}}">查看</a>
                <form th:action="@{'/returns/delete/' + ${order.id}}" method="post" style="display:inline;">
				    <button type="submit" onclick="return confirm('確定要刪除這張退貨單嗎？')">刪除</button>
				</form>
            </td>
        </tr>
    </tbody>
</table>
	<div class="text-end">
	  	<a class="btn btn-secondary" th:href="@{/}">返回</a>
	</div>
</body>
</html>
