 .card {
      background-color: #fff5dc;
      padding: 1.5rem;
      margin-bottom: 2rem;
      border-radius: 12px;
      
      position: relative;
       border: none !important;    
  box-shadow: none !important; 
    }

    .card h2 {
      font-size: 1.1rem;
      color: #5e3b1f;
      margin-bottom: 1rem;
    }

    .card p {
      margin: 0.2rem 0;
      font-size: 0.95rem;
    }

    .btn {
      background-color: #ddd;
      border: none;
      padding: 0.3rem 0.8rem;
      border-radius: 6px;
      cursor: pointer;
      font-size: 0.85rem;
      margin-top: 1rem;
    }

    .btn-edit {
      background-color: #e2b980;
      color: #5e3b1f;
    }

    .btn-delete {
      background-color: #ffb3a7;
      color: #812e2e;
    }

    .credit-card {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.95rem;
    }

    .note {
      font-size: 0.8rem;
      color: #666;
      margin-top: 0.5rem;
    }

    /* 個人資料表單 */
    .modal-title-custom {
      color: #6b4c3b;
      /* 咖啡色字體 */
      font-size: 24px;
      /* 字體大小 */
      letter-spacing: 1px;
      /* 字距 */
      font-family: 'Noto Sans TC', sans-serif;

    }

    .modal-content {
      border-radius: 12px;
      padding: 2rem;
    }

    .form-label {
      font-weight: 600;
    }

    .form-control-member {
      background-color: #fffdf8;
      color: #4a3b2c;
      border-color: #d6c1a5;
    }

    .form-control-member:disabled {
      background-color: #f8f9fa;
      opacity: 1;
    }

    .form-check-label {
      margin-left: 0.5rem;
    }

    .form-check-label {
      color: #e7dfda;
    }

    .btn-save {
      background-color: #b08558;
      color: #fff;
      border: none;
    }

    .btn-save:hover {
      background-color: #926a3e;
    }

    .btn-cancel {
      background-color: #e8e1da;
      color: #4a3b2c;
      border: none;
    }

    .btn-cancel:hover {
      background-color: #d4c7be;
    }

    .modal-content {
      background-color: #fffefe;
    }

    .form-label {
      color: #6b4c3b;
      font-weight: 600;
    }

    .form-control-member,
    .form-select {
      background-color: #fffdf8;
      color: #4a3b2c;
      border-color: #d6c1a5;
    }

    .form-check-label {
      color: #5b4332;
    }

    .text-muted {
      color: #b08f6a !important;
    }