<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>事務性管理/會員詳細資料</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="/customer.css" rel="stylesheet">

</head>

<body>
    <!-- 0629登入權限改路徑 還有最下方js-->
	<!-- 黑色遮罩（點擊可關閉 sidebar） -->
	<div class="overlay" id="sidebarOverlay"></div>

	<div class="container-fluid">
		<div class="row">

			<!-- Sidebar 0624新增響應式版 -->
			<nav class="col-md-3 col-lg-2 px-3 sidebar">
				<div class="position-sticky">
					<a href="http://localhost:8080/"> <img src="/logo-pikababy.png"
						alt="pika baby logo" class="img-fluid d-block mx-auto mb-1 mt-1"
						style="max-height: 150px;">
					</a>
					<!-- <h2 class="text-center mb-4">功能選單</h2> -->
					<div class="accordion" id="sidebarMenu">
						<script>
              //直接將 HTML 字串寫進頁面中
              document.write(`
                <div class="accordion-item">
                  <h5 class="accordion-header" id="heading2">
                    <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                      <i class="bi bi-people-fill me-2"></i>事務性管理
                    </button>
                  </h5>
                  <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" >
                    <div class="accordion-body">
                      <ul class="list-unstyled">
                        <li><a href="/employee/list" class="text-secondary">登入/權限管理</a></li>
                        <li><a href="/customers" class="text-secondary">會員帳號管理</a></li>
                        <li><a href="/company" class="text-secondary">公司資料維護</a></li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
              `);

              document.write(`
                <div class="accordion-item">
                  <h5 class="accordion-header" id="heading3">
                    <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                      <i class="bi bi-piggy-bank me-2"></i>財務管理
                    </button>
                  </h5>
                  <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" >
                    <div class="accordion-body">
                      <ul class="list-unstyled">
                        <li><a href="/receivables/list" class="text-secondary">應收帳款管理</a></li>
                        <li><a href="/payables/list" class="text-secondary">應付帳款管理</a></li>
                       
                      </ul>
                    </div>
                  </div>
                </div>
              `);
              document.write(`
                <div class="accordion-item">
                  <h5 class="accordion-header" id="heading4">
                    <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                      <i class="bi bi-cash-coin me-2"></i>結帳
                    </button>
                  </h5>
                  <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" >
                    <div class="accordion-body">
                      <ul class="list-unstyled">
                        <li><a href="https://pay.line.me/portal/tw/auth/login" class="text-secondary">Line Pay</a></li>
                        <li><a href="https://developers.ecpay.com.tw/" class="text-secondary">綠界</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              `);
              document.write(`
                      <div class="accordion-item">
                        <h5 class="accordion-header" id="heading8">
                          <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                            <i class="bi bi-bar-chart-line me-2"></i>報表管理
                          </button>
                        </h5>
                        <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" >
                          <div class="accordion-body">
                            <ul class="list-unstyled">
                              <li><a href="/dashboard/purchase" class="text-secondary">成本報表</a></li>
                              <li><a href="/dashboard/sales" class="text-secondary">銷售報表</a></li>
                              </ul>
                          </div>
                        </div>
                      </div>
                    `);
              document.write(`
                      <div class="accordion-item">
                        <h5 class="accordion-header" id="heading7">
                          <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                            <i class="bi bi-recycle me-2"></i>二手專區
                          </button>
                        </h5>
                        <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" >
                          <div class="accordion-body">
                            <ul class="list-unstyled">
                              <li><a href="/secondhand/consignments" class="text-secondary">托售申請審核</a></li>
                              <li><a href="/secondhand/withdrawals" class="text-secondary">提款申請審核</a></li>
                             
                              </ul>
                          </div>
                        </div>
                      </div>
                    `);
              document.write(`
                <div class="accordion-item">
                  <h5 class="accordion-header" id="heading5">
                    <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    <i class="bi bi-bag-heart me-2"></i>進貨管理
                    </button>
                  </h5>
                  <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" >
                    <div class="accordion-body">
                      <ul class="list-unstyled">
                      <li><a href="/suppliers" class="text-secondary">供應商建檔</a></li>
                      
                      <li><a href="/supplier-products" class="text-secondary">供應商報價建檔</a></li>
                        <li><a href="/purchases" class="text-secondary">進貨單</a></li>
                        
                        
                        </ul>
                    </div>
                  </div>
                </div>
              `);
            
               document.write(`
                <div class="accordion-item">
                  <h5 class="accordion-header" id="heading6">
                    <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                      <i class="bi bi-cart-check me-2"></i>銷售管理
                    </button>
                  </h5>
                  <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" >
                    <div class="accordion-body">
                      <ul class="list-unstyled">
                      <li><a href="/products/publish" class="text-secondary">商品上架</a></li>
                      <li><a href="/orders" class="text-secondary">銷貨單</a></li>
                      <li><a href="/shipping" class="text-secondary">出貨單</a></li>
                        </ul>
                    </div>
                  </div>
                </div>
              `); 
              document.write(` 
                <div class="accordion-item"> 
                  <h5 class="accordion-header" id="heading1">
                    <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    <i class="bi bi-box-seam me-2"></i>庫存管理
                    </button>
                  </h5>
                  <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" >
                    <div class="accordion-body">
                      <ul class="list-unstyled">
                      <li><a href="/products" class="text-secondary">商品建檔</a></li>
                      <li><a href="/stock" class="text-secondary">庫存查詢</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              `); 
            
            </script>
					</div>
				</div>
			</nav>
			<!-- 新增中間側邊欄按鈕 -->
			<button class="sidebar-toggle" id="toggleSidebarBtn">
				<i class="bi bi-chevron-right"></i>
			</button>


			<!-- 員工登入 -->
			<div class="dropdown d-flex justify-content-end pe-4 pt-3 user">
				<a href="#"
					class="d-inline-flex align-items-center text-dark text-decoration-none dropdown-toggle"
					id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bi bi-person-circle fs-4 me-2"></i>Hi! Pika
				</a>
				<ul class="dropdown-menu text-small" aria-labelledby="userDropdown">
					<!-- <li><a class="dropdown-item" href="#">個人資料設定</a></li> -->
					<!-- <li><a class="dropdown-item" href="#"></a></li> -->
					<!-- <li> -->
					<!-- <hr class="dropdown-divider"> -->
					<!-- </li> -->
					<li><a class="dropdown-item text-danger text-center"
						th:href="@{/logout}">登出</a></li>
				</ul>
			</div>


            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 offset-md-3">
                <div class="pt-2">
                    <!-- 麵包屑 -->
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">主頁面</li>
                            <li class="breadcrumb-item">事務性管理</li>
                            <li class="breadcrumb-item active" aria-current="page">會員帳號管理</li>
                        </ol>
                    </nav>
                    <!-- 從此往下寫右側區域功能 -->

                    <!-- 會員清單頁面內容 -->
                    <h3 class="fw-bold">會員詳細資料</h3>

                    <div class="text-end">
                        <a href="#" class="btn btn-danger mb-3" data-bs-toggle="modal"
                            data-bs-target="#confirmDeleteModal" th:onclick="deleteCust([[${customer.id}]])">刪除帳號</a>
                    </div>

                    <!-- 累積數據卡片列 -->
                    <div class="row mb-4 ">
                        <div class="col-md-3">
                            <div class="bg-light p-3 rounded shadow-sm text-center">
                                <div class="fw-bold">累積消費總額</div>
                                <div class="fs-4 text-primary"><span th:text="${customer.consumption}"></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="bg-light p-3 rounded shadow-sm text-center">
                                <div class="fw-bold">訂單數量（件）</div>
                                <div class="fs-4 text-primary"><span th:text="${customer.orderTotal}"></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="bg-light p-3 rounded shadow-sm text-center">
                                <div class="fw-bold">二手商品託售數量</div>
                                <div class="fs-4 text-primary"><span th:text="${customer.consignTotal}"></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="bg-light p-3 rounded shadow-sm text-center">
                                <div class="fw-bold">持有有效紅利（點）</div>
                                <div class="fs-4 text-primary"><span th:text="${customer.points}"></span></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <!-- <hr class="my-5"> -->
                    <div style="height: 1px; background: linear-gradient(to right, transparent, #999, transparent); border: 0; margin: 1.5rem 0;"></div>
                    

                    <div class="row mt-6 mb-2">
                        <!-- 左半邊：基本資料 -->
                        <div class="col-12 col-md-6 mb-3 mb-md-0">
                            <div class="border-start border-4 border-warning ps-3 ">

                                <h5 class="fw-bold text-primary">基本資料</h5>

                                <div class="mb-2">
                                    <i class="bi bi-person-fill me-2"></i>姓名：<span th:text="${customer.name}"></span>
                                </div>
                                <!-- <div class="mb-2">
									<i class="bi bi-gender-ambiguous me-2"></i>性別：<span th:text="${customer.name}"></span>
								</div>  -->
                                <div class="mb-2">
                                    <i class="bi bi-calendar-event me-2"></i>生日：<span
                                        th:text="${customer.birthday}"></span>
                                </div>
                                <div class="mb-2">
                                    <i class="bi bi-envelope-fill me-2"></i>Email：<span
                                        th:text="${customer.email}"></span>
                                </div>
                                <div class="mb-2">
                                    <i class="bi bi-telephone-fill me-2"></i>電話：<span
                                        th:text="${customer.phone}"></span>
                                </div>
                                <div class="mb-2">
                                    <i class="bi bi-house me-2"></i>會員地址：
                                    <span th:text="${customer.homeAddress}"></span>
                                </div>
								<div class="mb-2">
                                    <i class="bi bi-house me-2"></i>收件地址：
                                    <span th:text="${customer.deliverAddress}"></span>
                                </div>
                                <div class="mb-2">
                                    <i class="bi bi-person-add me-2"></i>註冊時間：<span
                                        th:text="${customer.createdAt}"></span>
                                </div>
                                <div class="mb-2">
                                    <i class="bi bi-door-open-fill me-2"></i>首登時間：<span
                                        th:text="${customer.firstLoginAt}"></span>
                                </div>
                            </div>
                        </div>

                        <!-- 右半邊：額外資訊 -->
                        <div class="col-12 col-md-6">
                            <div class="border-start border-4 border-warning ps-3 ">
                                <h5 class="fw-bold text-primary">寶寶資料</h5>
                                <div class="mb-2">
                                    <i class="bi bi-1-circle me-2"></i>大寶出生年月：<span
                                        th:text="${customer.baby1Birthday}"></span>
                                </div>
                                <!-- <div class="mb-2">
									<i class="bi bi-1-circle me-2"></i>大寶性別：<span th:text="${customer.firstLoginAt}"></span>
								</div> -->
                                <div class="mb-2">
                                    <i class="bi bi-2-circle-fill me-2"></i>二寶出生年月：<span
                                        th:text="${customer.baby2Birthday}"></span>
                                </div>
                                <!-- <div class="mb-2">
									<i class="bi bi-2-circle-fill me-2"></i>二寶性別：<span th:text="${customer.firstLoginAt}"></span>
								</div> -->
                                <div class="mb-2">
                                    <i class="bi bi-3-circle me-2"></i>小寶出生年月：<span
                                        th:text="${customer.baby3Birthday}"></span>
                                </div>
                                <!-- <div class="mb-2">
									<i class="bi bi-3-circle me-2"></i>小寶性別：<span th:text="${customer.firstLoginAt}"></span>
								</div> -->
                                <!-- <div class="mb-2">
									<i class="bi bi-pencil-square me-2"></i>備註：<span th:text="${customer.firstLoginAt}"></span>
								</div> -->

                            </div>
                        </div>
                    </div>

                    <!-- 功能連結 -->

                    <div class="text-end">
                        <a class="btn btn-outline-secondary" th:href="@{/customers}"><i
                                class="bi bi-arrow-left-circle me-1"></i>返回</a>
                    </div>

                    <!-- 從此以上寫右側區域功能 -->
                </div>
            </main>

        </div>
    </div>

    <!-- 刪除確認 Modal -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">確認刪除</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉"></button>
                </div>
                <div class="modal-body">你確定要刪除此會員嗎？此操作將無法還原。</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button id="confirmBtn" type="button" class="btn btn-danger">確認刪除</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function deleteCust(custId) {
        	console.log(`Delete ${custId}`);
        	$("#confirmBtn").on("click", function() {
        		$.ajax({
        			method: "DELETE",
        			url: `/customers/delete/${custId}`,
        			success: function(resp) {
        				alert(`會員編號 ${custId} ${resp.mesg}`);
        				// $("#confirmDeleteModal").removeClass("show");
        				window.location.href="/customers";
        			},
        			error: function() {
        				alert("系統錯誤，無法刪除");
        				$("#confirmDeleteModal").removeClass("show");
        			}
        		})
        	})
        }
        
        /* Sidebar響應式功能 */
		 const toggleBtn = document.getElementById("toggleSidebarBtn");
		  const sidebar = document.querySelector(".sidebar");
		  const overlay = document.getElementById("sidebarOverlay");

		  toggleBtn.addEventListener("click", () => {
		    sidebar.classList.toggle("show");
		    overlay.classList.toggle("show");
		    toggleBtn.classList.toggle("open");
		  });

		  overlay.addEventListener("click", () => {
		    sidebar.classList.remove("show");
		    overlay.classList.remove("show");
		    toggleBtn.classList.remove("open");
		  });
    </script>

</body>

</html>