<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>事務性管理/會員清單</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="/customer.css" rel="stylesheet">

</head>

<body>
    <!-- 0629登入權限改路徑 還有最下方js-->
	<!-- 黑色遮罩（點擊可關閉 sidebar） -->
	<div class="overlay" id="sidebarOverlay"></div>

	<div class="container-fluid">
		<div class="row">

			<!-- Sidebar 0624新增響應式版 -->
			<nav class="col-md-3 col-lg-2 px-3 sidebar">
				<div class="position-sticky">
					<a href="http://localhost:8080/"> <img src="/logo-pikababy.png"
						alt="pika baby logo" class="img-fluid d-block mx-auto mb-1 mt-1"
						style="max-height: 150px;">
					</a>
					<!-- <h2 class="text-center mb-4">功能選單</h2> -->
					<div class="accordion" id="sidebarMenu">
						<script>
              //直接將 HTML 字串寫進頁面中
              document.write(`
                <div class="accordion-item">
                  <h5 class="accordion-header" id="heading2">
                    <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                      <i class="bi bi-people-fill me-2"></i>事務性管理
                    </button>
                  </h5>
                  <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" >
                    <div class="accordion-body">
                      <ul class="list-unstyled">
                        <li><a href="/employee/list" class="text-secondary">登入/權限管理</a></li>
                        <li><a href="/customers" class="text-secondary">會員帳號管理</a></li>
                        <li><a href="/company" class="text-secondary">公司資料維護</a></li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
              `);

              document.write(`
                <div class="accordion-item">
                  <h5 class="accordion-header" id="heading3">
                    <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                      <i class="bi bi-piggy-bank me-2"></i>財務管理
                    </button>
                  </h5>
                  <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" >
                    <div class="accordion-body">
                      <ul class="list-unstyled">
                        <li><a href="/receivables/list" class="text-secondary">應收帳款管理</a></li>
                        <li><a href="/payables/list" class="text-secondary">應付帳款管理</a></li>
                       
                      </ul>
                    </div>
                  </div>
                </div>
              `);
              document.write(`
                <div class="accordion-item">
                  <h5 class="accordion-header" id="heading4">
                    <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                      <i class="bi bi-cash-coin me-2"></i>結帳
                    </button>
                  </h5>
                  <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" >
                    <div class="accordion-body">
                      <ul class="list-unstyled">
                        <li><a href="https://pay.line.me/portal/tw/auth/login" class="text-secondary">Line Pay</a></li>
                        <li><a href="https://developers.ecpay.com.tw/" class="text-secondary">綠界</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              `);
              document.write(`
                      <div class="accordion-item">
                        <h5 class="accordion-header" id="heading8">
                          <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                            <i class="bi bi-bar-chart-line me-2"></i>報表管理
                          </button>
                        </h5>
                        <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" >
                          <div class="accordion-body">
                            <ul class="list-unstyled">
                              <li><a href="/dashboard/purchase" class="text-secondary">成本報表</a></li>
                              <li><a href="/dashboard/sales" class="text-secondary">銷售報表</a></li>
                              </ul>
                          </div>
                        </div>
                      </div>
                    `);
              document.write(`
                      <div class="accordion-item">
                        <h5 class="accordion-header" id="heading7">
                          <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                            <i class="bi bi-recycle me-2"></i>二手專區
                          </button>
                        </h5>
                        <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" >
                          <div class="accordion-body">
                            <ul class="list-unstyled">
                              <li><a href="/secondhand/consignments" class="text-secondary">托售申請審核</a></li>
                              <li><a href="/secondhand/withdrawals" class="text-secondary">提款申請審核</a></li>
                             
                              </ul>
                          </div>
                        </div>
                      </div>
                    `);
              document.write(`
                <div class="accordion-item">
                  <h5 class="accordion-header" id="heading5">
                    <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    <i class="bi bi-bag-heart me-2"></i>進貨管理
                    </button>
                  </h5>
                  <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" >
                    <div class="accordion-body">
                      <ul class="list-unstyled">
                      <li><a href="/suppliers" class="text-secondary">供應商建檔</a></li>
                      
                      <li><a href="/supplier-products" class="text-secondary">供應商報價建檔</a></li>
                        <li><a href="/purchases" class="text-secondary">進貨單</a></li>
                        
                        
                        </ul>
                    </div>
                  </div>
                </div>
              `);
            
               document.write(`
                <div class="accordion-item">
                  <h5 class="accordion-header" id="heading6">
                    <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                      <i class="bi bi-cart-check me-2"></i>銷售管理
                    </button>
                  </h5>
                  <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" >
                    <div class="accordion-body">
                      <ul class="list-unstyled">
                      <li><a href="/products/publish" class="text-secondary">商品上架</a></li>
                      <li><a href="/orders" class="text-secondary">銷貨單</a></li>
                      <li><a href="/shipping" class="text-secondary">出貨單</a></li>
                        </ul>
                    </div>
                  </div>
                </div>
              `); 
              document.write(` 
                <div class="accordion-item"> 
                  <h5 class="accordion-header" id="heading1">
                    <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    <i class="bi bi-box-seam me-2"></i>庫存管理
                    </button>
                  </h5>
                  <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" >
                    <div class="accordion-body">
                      <ul class="list-unstyled">
                      <li><a href="/products" class="text-secondary">商品建檔</a></li>
                      <li><a href="/stock" class="text-secondary">庫存查詢</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              `); 
            
            </script>
					</div>
				</div>
			</nav>
			<!-- 新增中間側邊欄按鈕 -->
			<button class="sidebar-toggle" id="toggleSidebarBtn">
				<i class="bi bi-chevron-right"></i>
			</button>


			<!-- 員工登入 -->
			<div class="dropdown d-flex justify-content-end pe-4 pt-3 user">
				<a href="#"
					class="d-inline-flex align-items-center text-dark text-decoration-none dropdown-toggle"
					id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bi bi-person-circle fs-4 me-2"></i>Hi! Pika
				</a>
				<ul class="dropdown-menu text-small" aria-labelledby="userDropdown">
					<!-- <li><a class="dropdown-item" href="#">個人資料設定</a></li> -->
					<!-- <li><a class="dropdown-item" href="#"></a></li> -->
					<!-- <li> -->
					<!-- <hr class="dropdown-divider"> -->
					<!-- </li> -->
					<li><a class="dropdown-item text-danger text-center"
						th:href="@{/logout}">登出</a></li>
				</ul>
			</div>

            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 offset-md-3">
                <div class="pt-2">
                    <!-- 麵包屑 -->
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">主頁面</li>
                            <li class="breadcrumb-item">事務性管理</li>
                            <li class="breadcrumb-item active" aria-current="page">會員帳號管理</li>
                        </ol>
                    </nav>
                    <!-- 從此往下寫右側區域功能 -->
                    <h2>會員清單</h2>


                    <!-- 篩選條件區塊 -->
                    <!-- 標題 -->
                    <form th:action="@{/customers}" th:method="get">
                        <div class="card p-3 my-3">
                            <div class="mb-2 fw-bold">篩選條件</div>
                            <!-- 動態條件列 -->
                            <div id="conditionContainer" class="d-flex flex-wrap">
                                <!-- <div class="d-flex align-items-center gap-1 col-md-4 my-2 px-2">
                                    <span style="min-width: fit-content;;">帳號狀態：</span>
                                    <input class="form-control w-100" name="conditionValue[]" placeholder="請輸入條件內容">
                                </div> -->
                                <div class="d-flex align-items-center gap-1 col-md-4 my-2 px-2">
                                    <span style="min-width: fit-content;">註冊時間：</span> <input class="form-control w-100"
                                        name="createDate" type="date" th:value="${createDate}">
                                </div>
                                <div class="d-flex align-items-center gap-1 col-md-4 my-2 px-2">
                                    <span style="min-width: fit-content;">居住縣市：</span> <select
                                        class="form-control w-100" name="area">
                                        <option value="" th:selected="${area == ''}">全部</option>
                                        <option th:selected="${area == '基隆市'}">基隆市</option>
                                        <option th:selected="${area == '台北市'}">台北市</option>
                                        <option th:selected="${area == '新北市'}">新北市</option>
                                        <option th:selected="${area == '桃園市'}">桃園市</option>
                                        <option th:selected="${area == '新竹縣'}">新竹縣</option>
                                        <option th:selected="${area == '新竹市'}">新竹市</option>
                                        <option th:selected="${area == '苗栗縣'}">苗栗縣</option>
                                        <option th:selected="${area == '台中市'}">台中市</option>
                                        <option th:selected="${area == '南投縣'}">南投縣</option>
                                        <option th:selected="${area == '彰化縣'}">彰化縣</option>
                                        <option th:selected="${area == '雲林縣'}">雲林縣</option>
                                        <option th:selected="${area == '嘉義縣'}">嘉義縣</option>
                                        <option th:selected="${area == '嘉義市'}">嘉義市</option>
                                        <option th:selected="${area == '台南市'}">台南市</option>
                                        <option th:selected="${area == '高雄市'}">高雄市</option>
                                        <option th:selected="${area == '屏東縣'}">屏東縣</option>
                                        <option th:selected="${area == '台東縣'}">台東縣</option>
                                        <option th:selected="${area == '花蓮縣'}">花蓮縣</option>
                                        <option th:selected="${area == '宜蘭縣'}">宜蘭縣</option>
                                        <option th:selected="${area == '連江縣'}">連江縣</option>
                                        <option th:selected="${area == '金門縣'}">金門縣</option>
                                        <option th:selected="${area == '澎湖縣'}">澎湖縣</option>
                                    </select>
                                    <!-- <input class="form-control w-100" name="conditionValue[]" placeholder="請輸入條件內容"> -->
                                </div>
                                <!-- <div class="d-flex align-items-center gap-1 col-md-4 my-2 px-2">
                                    <span style="min-width: fit-content;;">是否持有優惠券：</span>
                                    <input class="form-control w-100" name="conditionValue[]" placeholder="請輸入條件內容">
                                </div> -->
                                <div class="d-flex align-items-center gap-1 col-md-4 my-2 px-2">
                                    <span style="min-width: fit-content;">是否持有紅利：</span> <select
                                        class="form-control w-100" name="hasPoint">
                                        <option value="" th:selected="${hasPoint == ''}">全部</option>
                                        <option value="1" th:selected="${hasPoint == '1'}">是</option>
                                        <option value="0" th:selected="${hasPoint == '0'}">否</option>
                                    </select>
                                </div>
                                <!-- <div class="d-flex align-items-center gap-1 col-md-4 my-2 px-2">
                                    <span style="min-width: fit-content;;">是否為VIP：</span>
                                    <input class="form-control w-100" name="conditionValue[]" placeholder="請輸入條件內容">
                                </div> -->

                            </div>
                            <div class="mb-1 mt-3 d-flex justify-content-between align-items-center px-2">
                                <!-- 左邊：新增條件 -->
                                <!-- <div>
                                        <button type="button" class="btn btn-outline-primary btn-sm" onclick="addCondition()">＋
                                            新增篩選條件</button>
                                    </div> -->

                                <!-- 右邊：套用與清除 -->
                                <input type="text" class="form-control me-3 w-75" placeholder="輸入會員姓名、手機、信箱關鍵字"
                                    name="keyword" th:value="${keyword}">
                                <div class="d-flex gap-2">
                                    <button type="button" class="btn btn-outline-secondary"
                                        onclick="clearConditions()"><i class="bi bi-x-lg"></i>清除全部</button>
                                    <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i> 查詢</button>
                                    <!-- <a class="btn btn-outline-success" href="/customers/export">匯出Excel</a>  -->
                                    <!-- <button class="btn btn-outline-success" type="button" onclick="exportExcel()">匯出Excel</button> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- 搜尋區塊 -->
                <!-- <form class="row g-3 align-items-end mt-1 mb-3" method="get"
						action="/receivables/search">
						<div class="col-md-4">
							<label for="keyword" class="form-label">查詢篩選欄位</label> <input
								type="text" class="form-control" id="keyword" name="keyword"
								placeholder="請輸入公司名稱">
						</div>
						<div class="col-md-3">
							<label for="startDate" class="form-label">起始日期</label> <input
								type="date" class="form-control" id="startDate" name="startDate">
						</div>
						<div class="col-md-3">
							<label for="endDate" class="form-label">結束日期</label> <input
								type="date" class="form-control" id="endDate" name="endDate">
						</div>
						<div class="col-md-2 text-start">
							<button type="submit" class="btn btn-primary w-50">
								<i class="bi bi-search"></i> 查詢
							</button>
						</div>

					</form> -->

                <!-- 搜尋與匯出 -->
                <!-- <div class="d-flex justify-content-between align-items-center my-3  ">
                    <input type="text" class="form-control me-3 w-75" placeholder="搜尋會員姓名、手機、信箱等資訊">
                    <button class="btn btn-outline-secondary d-flex align-items-center">
                        <i class="bi bi-download me-1"></i>匯出
                    </button>
                </div> -->


                <table class="table table-bordered">
                    <thead class="text-center">
                        <tr>
                            <!-- 							<th scope="col"><input type="checkbox" id="selectAll"></th>  -->
                            <th class="d-none">ID</th>
                            <th>姓名</th>
                            <th>電話</th>
                            <th>Email</th>
                            <th>地址</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="c : ${customers}">
                            <!-- <td class="text-center"><input type="checkbox"
								class="row-check"></td>  -->
                            <td th:text="${c.customer.id}" class="text-center d-none"></td>
                            <td th:text="${c.customer.name}" class="text-center"></td>
                            <td th:text="${c.customer.phone}"></td>
                            <td th:text="${c.customer.email}"></td>
                            <td th:text="${c.address.city} + ${c.address.district} + ${c.address.street}"></td>
                            <td class="text-center"><a th:href="@{'/customers/detail/' + ${c.customer.id}}"
                                    class="btn btn-warning btn-sm">詳細資料</a>
                            </td>
                        </tr>
                    </tbody>

                </table>

                <div class="text-end mb-3">
                    <!-- 有功能 先不要刪掉 -->
                    <!-- <a class="btn btn-primary" th:href="@{/customers/new}">新增會員</a> -->
                    <a class="btn btn-outline-secondary" th:href="@{/}"><i class="bi bi-arrow-left-circle me-1"></i>返回</a>
                </div>



                <!-- 從此以上寫右側區域功能 -->
        </div>
        </main>

    </div>
    </div>


    <!-- 刪除確認 Modal -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">確認刪除</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉"></button>
                </div>
                <div class="modal-body">你確定要刪除此會員嗎？此操作將無法還原。</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button id="confirmBtn" type="button" class="btn btn-danger">確認刪除</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        // 全選 / 取消全選功能
        //        document.getElementById('selectAll').addEventListener('change', function () {
        //            const checkboxes = document.querySelectorAll('.row-check');
        //            checkboxes.forEach(cb => cb.checked = this.checked);
        //        });

        function clearConditions() {
            $("input").prop("value", "");
            $("select").prop("value", "");
        }

        /* Sidebar響應式功能 */
		 const toggleBtn = document.getElementById("toggleSidebarBtn");
		  const sidebar = document.querySelector(".sidebar");
		  const overlay = document.getElementById("sidebarOverlay");

		  toggleBtn.addEventListener("click", () => {
		    sidebar.classList.toggle("show");
		    overlay.classList.toggle("show");
		    toggleBtn.classList.toggle("open");
		  });

		  overlay.addEventListener("click", () => {
		    sidebar.classList.remove("show");
		    overlay.classList.remove("show");
		    toggleBtn.classList.remove("open");
		  });
    </script>

</body>

</html>