 /* 導覽Tabs */

    .nav-wrapper {
       /* max-width: 1000px;
      border-bottom: 2px solid #f82e71; */
      /* 整條底線 */
      display: flex;
      justify-content: center;
      gap: 2rem;
      padding-bottom: 0.5rem;
       flex-wrap: wrap;
      
    }


    .nav-button {
      border: none;
      background: none;
      color:  #895e54;
      padding: 0.5rem 1rem;
      font-weight: 500;
      position: relative;
font-size: 1.2rem;

    }

    .nav-button::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      /* 讓黃線蓋在灰線上 */
      height: 4px;
      width: 0%;
      background-color: #f1f454;
      /* 黃色底線 */
      transition: width 0.3s;
    }



    .nav-button.active::after {
      width: 100%;
    }

    .nav-button.active {
      color: #754f1a;
      font-weight: 600;
    }

    /* 切換內容 */
    .tab-content {
      display: none;
    }

    .tab-content.active {
      display: block;
    }